"*":
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    projectHome: "~/Code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "SF Mono"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "09c0c09f-4100-22fe-8f06-223411b10977"
  pigments:
    markerType: "native-dot"
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
