'.platform-darwin':
  # Create a split pane with the current pane item moved into it
  'cmd-k left':  'pane:split-left-and-move-active-item'
  'cmd-k right': 'pane:split-right-and-move-active-item'
  'cmd-k up':    'pane:split-up-and-move-active-item'
  'cmd-k down':  'pane:split-down-and-move-active-item'
  # Move the current pane item to the target split pane
  'cmd-k m left':  'window:move-active-item-to-pane-on-left'
  'cmd-k m right': 'window:move-active-item-to-pane-on-right'
  'cmd-k m up':    'window:move-active-item-to-pane-above'
  'cmd-k m down':  'window:move-active-item-to-pane-below'
  # Docks
  'alt-x left':  'window:toggle-left-dock'
  'alt-x right': 'window:toggle-right-dock'
  'alt-x down':  'window:toggle-bottom-dock'
