"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "09c0c09f-4100-22fe-8f06-223411b10977"
  "file-icons":
    coloured: false
  minimap:
    displayPluginsControls: false
    plugins:
      bookmarks: true
      "find-and-replace": true
      "git-diff": true
  pigments:
    markerType: "dot"
  welcome:
    showOnStartup: false
