"*":
  core:
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "09c0c09f-4100-22fe-8f06-223411b10977"
  "file-icons":
    coloured: false
  minimap:
    displayPluginsControls: false
    plugins:
      bookmarks: true
      "find-and-replace": true
      "git-diff": true
  pigments:
    markerType: "dot"
  "tool-bar":
    iconSize: "16px"
    position: "Right"
  welcome:
    showOnStartup: false
