"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "limited"
    titleBar: "hidden"
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d6d78f23-4c07-48ab-bf4a-5942a24d6412"
  welcome:
    showOnStartup: false
