'.source.ruby':
  'private def':
    'prefix': 'pdef'
    'body': 'private def ${1:method_name}\n\t$0\nend'
  'byebug':
    'prefix': 'bb'
    'body': 'byebug'
    'description': 'Debugging in Ruby 2'
    'descriptionMoreURL': 'https://github.com/deivid-rodriguez/byebug'
  'object.blank?':
    'prefix': 'bla'
    'body': '${0:object}.blank?'
  'object.present?':
    'prefix': 'pre'
    'body': '${0:object}.present?'
'.text.html.erb':
  'data-behavior':
    'prefix': 'dbh'
    'body': 'data-behavior="${0:name}"'
'.source.coffee':
  'ERB':
    'prefix': '"='
    'body': '"<%=j $0 %>'
